.adf-formcont {
    margin: 0px auto;
    width: 450px;
    padding: 20px;
    height: auto;
    background: #303030;
    border-radius: 20px;
    box-shadow: 10px 2px 30px ;
  }

.adf-log{
    margin: 10px;
    padding: 10px;
}

.adf-inpx {
    margin: 5px;
}

.adf-inpx label {
    color: #eee;
    padding: 5px; 
    border-radius: 5px;
}

.adf-inpx input {
    width: 98%;
    height: 25px;
    color: #d8d8d8;
    font-size: 15px;
    background: #1b1b1b;
    padding: 5px;
    border: 1px solid #000000; 
    border-radius: 5px;
}
.adf-inpx input:hover{
    border: 1px solid royalblue;
}

.cwit2{
    color:#ffffffd0 !important;
    text-shadow: 10px 2px 30px #eee;
}

.circle {
  fill: #3498db; /* Circle background color */
}

.lock-circle {
  fill: #ffffff; /* Lock circle color */
}

.lock-line {
  stroke: #34495e; /* Lock line color */
  stroke-width: 6; /* Lock line width */
}

.lock-rect {
  fill: #34495e; /* Lock rectangle color */
}

@keyframes rotateLock {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lock-circle,
.lock-line,
.lock-rect {
  transform-origin: center;
  animation: rotateLock 4s linear infinite; /* Adjust duration and animation type as needed */
}
