.bg-ultra{
    background: linear-gradient(45deg,red,blue) ;
}

.bg-upremium{
    background: linear-gradient(45deg,blue ,rgb(45, 186, 252)) ;
}

.bg-usecondary{
    background: linear-gradient(45deg, rgb(255, 30, 0), orange);
}

.bg-redgradient {
    background: linear-gradient(45deg, #FF5E3A, #FF2A68);
}

.bg-purplegradient {
    background: linear-gradient(45deg, #B06AB3, #4568DC);
}

.bg-yellowgradient {
    background: linear-gradient(45deg, #FFD662, #FF914D);
}

.bg-bluepinkgradient {
    background: linear-gradient(45deg, #3A1C71, #D76D77, #FFAF7B);
}

.bg-bluegraygradient {
    background: linear-gradient(45deg, #3494E6, #EC6EAD);
}

.bg-tealgradient {
    background: linear-gradient(45deg, #20E2D7, #F9FEA5);
}

.bg-pinkbluegradient {
    background: linear-gradient(45deg, #EF32D9, #89FFFD);
}

.bg-goldorangegradient {
    background: linear-gradient(45deg, #FDC830, #F37335);
}

.bg-bluegray2gradient {
    background: linear-gradient(45deg, #56CCF2, #2F80ED);
}

.bg-bluepurplegradient {
    background: linear-gradient(45deg, #1B9CFC, #8C4FB6);
}

.bg-darkredgradient {
    background: linear-gradient(45deg, #6C0004, #200122);
}

.bg-darkbluegradient {
    background: linear-gradient(45deg, #1D2671, #05004E);
}

.bg-darkgreengradient {
    background: linear-gradient(45deg, #004643, #003638);
}

.bg-darkpurplegradient {
    background: linear-gradient(45deg, #330136, #6D008B);
}

.bg-darkorangegradient {
    background: linear-gradient(45deg, #A94D00, #581E00);
}

.bg-darktealgradient {
    background: linear-gradient(45deg, #014B5F, #001A21);
}

.bg-darkpinkgradient {
    background: linear-gradient(45deg, #600036, #C10066);
}

.bg-darkgoldgradient {
    background: linear-gradient(45deg, #7E6B00, #2C2600);
}

.bg-darkgraygradient {
    background: linear-gradient(45deg, #3E3E3E, #1C1C1C);
}

.bg-darkindigogradient {
    background: linear-gradient(45deg, #001F3F, #000A15);
}

.bg-darkblackgradient {
    background: linear-gradient(45deg, #000000, #333333);
}


.bg-ubark{
    background: linear-gradient(45deg,black,grey);
}

.bg-premium{
    background: royalblue;
}
.bg-secondary{
    background: rgb(255, 115, 0);
}

.bg-lightwhitegraygradient{
    background: linear-gradient(45deg, #ffffff5d,#55555575);
}

.bgblurfilter{
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
.bg-white{
    background: #fff;
}
.bg-black{
    background: #000;
}