/* position */
.pos-abs{
    position:absolute;
}
.pos-rel{
    position:relative;
}
.pos-fix{
    position:fixed;
}
.pos-sta{
    position:static;
}
.pos-sti{
    position:sticky;
}
.pos-msp{
    position:-ms-page;
}
.pos-wsti{
    position:-webkit-sticky;
}
.pos-inh{
    position:inherit;
}
.pos-ini{
    position:initial;
}
.pos-uns{
    position: unset;
}
/* display */
.dpl-blo{
    display: block;
}
.dpl-con{
    display:contents;
}
.dpl-flex{
    display:flex;
}
.dpl-flexbox{
    display:flexbox;
}
.dpl-flw-r{
    display:flow-root;
}
.dpl-gri{
    display:grid;
}
.dpl-inl{
    display:inline;
}
.dpl-inl-b{
    display:inline-block;
}
.dpl-inl-f{
    display:inline-flex;
}
.dpl-inl-fb{
    display:inline-flexbox;
}
.dpl-inl-tab{
    display:inline-table;
}
.dpl-lis-it{
    display:list-item;
}
.dpl-none{
    display:none;
}
.dpl-rub{
    display:ruby;
}
.dpl-rub-bas{
    display:ruby-base;
}
.dpl-rub-bas-c{
    display:ruby-base-container;
}
.dpl-rub-txt{
    display:ruby-text;
}
.dpl-rub-txt-c{
    display:ruby-text-container;
}
.dpl-runin{
    display:run-in;
}
.dpl-tab{
    display:table;
}
.dpl-tab-cap{
    display:table-caption;
}
.dpl-tab-cell{
    display:table-cell;
}
.dpl-tab-col{
    display:table-column;
}
.dpl-tab-col-g{
    display:table-column-group;
}
.dpl-tab-foo-g{
    display:table-footer-group;
}
.dpl-tab-hea-g{
    display:table-header-group;
}
.dpl-tab-row{
    display:table-row;
}
.dpl-tab-row-g{
    display:table-row-group;
}
.txal-cen{
    text-align: center;
}
.txal-end{
    text-align: end;
}
.txal-jus{
    text-align:justify;
}
.txal-lef{
    text-align:left;
}
.txal-rig{
    text-align:right;
}
.txal-sta{
    text-align:start;
}
.txal-inh{
    text-align:inherit;
}
.txal-ini{
    text-align:initial;
}
.txal-uns{
    text-align: unset;
}
.fot-ile{
    float:inline-end;
}
.fot-ils{
    float:inline-start;
}
.fot-lef{
    float:left;
}
.fot-rig{
    float:right;
}
.fot-none{
    float:none;
}
.fot-inh{
    float:inherit;
}
.fot-ini{
    float:initial;
}
.fot-uns{
    float:unset;
}