*{
    margin: 0;
    padding: 0;
}
  
  .bodyz {
    background: linear-gradient(45deg, red, blue);
    width: 100%;
    height: 100vh;
    animation: zxh_ 25s infinite;
  }
  /*
  //   
  */
  @keyframes zxh_ {
    0% { background: linear-gradient(0deg, red, blue); }
    1%{ background: linear-gradient(3.6deg, red, blue); }
    2%{ background: linear-gradient(7.2deg, red, blue); }
    3%{ background: linear-gradient(10.8deg, red, blue); }
    4%{ background: linear-gradient(14.4deg, red, blue); }
    5%{ background: linear-gradient(18deg, red, blue); }
    6%{ background: linear-gradient(21.6deg, red, blue); }
    7%{ background: linear-gradient(25.2deg, red, blue); }
    8%{ background: linear-gradient(28.8deg, red, blue); }
    9%{ background: linear-gradient(32.4deg, red, blue); }
    0%{ background: linear-gradient(36deg, red, blue); }
    
    11%{ background: linear-gradient(39.6deg, red, blue); }
    12%{ background: linear-gradient(43.2deg, red, blue); }
    13%{ background: linear-gradient(46.8deg, red, blue); }
    14%{ background: linear-gradient(50.4deg, red, blue); }
    15%{ background: linear-gradient(54deg, red, blue); }
    16%{ background: linear-gradient(57.6deg, red, blue); }
    17%{ background: linear-gradient(61.2deg, red, blue); }
    18%{ background: linear-gradient(64.8deg, red, blue); }
    19%{ background: linear-gradient(68.4deg, red, blue); }
    20%{ background: linear-gradient(72deg, red, blue); }
    
    21%{ background: linear-gradient(75.6deg, red, blue); }
    22%{ background: linear-gradient(79.2deg, red, blue); }
    23%{ background: linear-gradient(82.8deg, red, blue); }
    24%{ background: linear-gradient(86.4deg, red, blue); }
    25%{ background: linear-gradient(90deg, red, blue); }
    26%{ background: linear-gradient(93.6deg, red, blue); }
    27%{ background: linear-gradient(97.2deg, red, blue); }
    28%{ background: linear-gradient(100.8deg, red, blue); }
    29%{ background: linear-gradient(104.4deg, red, blue); }
    30%{ background: linear-gradient(108deg, red, blue); }
    
    31%{ background: linear-gradient(111.6deg, red, blue); }
    32%{ background: linear-gradient(115.2deg, red, blue); }
    33%{ background: linear-gradient(118.8deg, red, blue); }
    34%{ background: linear-gradient(122.4deg, red, blue); }
    35%{ background: linear-gradient(126deg, red, blue); }
    36%{ background: linear-gradient(124.6deg, red, blue); }
    37%{ background: linear-gradient(133.2deg, red, blue); }
    38%{ background: linear-gradient(136.8deg, red, blue); }
    39%{ background: linear-gradient(140.4deg, red, blue); }
    40%{ background: linear-gradient(144deg, red, blue); }
    
    41%{ background: linear-gradient(147.6deg, red, blue); }
    42%{ background: linear-gradient(151.2deg, red, blue); }
    43%{ background: linear-gradient(154.8deg, red, blue); }
    44%{ background: linear-gradient(158.4deg, red, blue); }
    45%{ background: linear-gradient(162deg, red, blue); }
    46%{ background: linear-gradient(165.6deg, red, blue); }
    47%{ background: linear-gradient(169.2deg, red, blue); }
    48%{ background: linear-gradient(172.8deg, red, blue); }
    49%{ background: linear-gradient(176.4deg, red, blue); }
    50%{ background: linear-gradient(180deg, red, blue); }

    51%{ background: linear-gradient(183.6deg, red, blue); }
    52%{ background: linear-gradient(187.2deg, red, blue); }
    53%{ background: linear-gradient(190.8deg, red, blue); }
    54%{ background: linear-gradient(194.4deg, red, blue); }
    55%{ background: linear-gradient(198deg, red, blue); }
    56%{ background: linear-gradient(201.6deg, red, blue); }
    57%{ background: linear-gradient(205.2deg, red, blue); }
    58%{ background: linear-gradient(208.8deg, red, blue); }
    59%{ background: linear-gradient(212.4deg, red, blue); }
    60%{ background: linear-gradient(216deg, red, blue); }

    61%{ background: linear-gradient(219.6deg, red, blue); }
    62%{ background: linear-gradient(223.2deg, red, blue); }
    63%{ background: linear-gradient(226.8deg, red, blue); }
    64%{ background: linear-gradient(230.4deg, red, blue); }
    65%{ background: linear-gradient(234deg, red, blue); }
    66%{ background: linear-gradient(237.6deg, red, blue); }
    67%{ background: linear-gradient(241.2deg, red, blue); }
    68%{ background: linear-gradient(244.8deg, red, blue); }
    69%{ background: linear-gradient(248.4deg, red, blue); }

    70%{ background: linear-gradient(252deg, red, blue); }
    71%{ background: linear-gradient(255.6deg, red, blue); }
    72%{ background: linear-gradient(259.2deg, red, blue); }
    73%{ background: linear-gradient(262.8deg, red, blue); }
    74%{ background: linear-gradient(266.4deg, red, blue); }
    75%{ background: linear-gradient(270deg, red, blue); }
    76%{ background: linear-gradient(273.6deg, red, blue); }
    77%{ background: linear-gradient(277.2deg, red, blue); }
    78%{ background: linear-gradient(280.8deg, red, blue); }
    79%{ background: linear-gradient(284.4deg, red, blue); }
    
    80%{ background: linear-gradient(288deg, red, blue); }
    81%{ background: linear-gradient(291.6deg, red, blue); }
    82%{ background: linear-gradient(295.2deg, red, blue); }
    83%{ background: linear-gradient(298.8deg, red, blue); }
    84%{ background: linear-gradient(302.4deg, red, blue); }
    85%{ background: linear-gradient(306deg, red, blue); }
    86%{ background: linear-gradient(309.6deg, red, blue); }
    87%{ background: linear-gradient(313.2deg, red, blue); }
    88%{ background: linear-gradient(316.8deg, red, blue); }
    89%{ background: linear-gradient(320.4deg, red, blue); }
    
    90%{ background: linear-gradient(324deg, red, blue); }
    91%{ background: linear-gradient(327.6deg, red, blue); }
    92%{ background: linear-gradient(331.2deg, red, blue); }
    93%{ background: linear-gradient(334.8deg, red, blue); }
    94%{ background: linear-gradient(338.4deg, red, blue); }
    95%{ background: linear-gradient(342deg, red, blue); }
    96%{ background: linear-gradient(345.6deg, red, blue); }
    97%{ background: linear-gradient(349.2deg, red, blue); }
    98%{ background: linear-gradient(352.8deg, red, blue); }
    99%{ background: linear-gradient(356.4deg, red, blue); }
    100%{ background: linear-gradient(360deg, red, blue); }
   }
  /*
  //
  */
  